In [ ]:
import pandas as pd 
from tensorflow import keras

## 1- 数据集来源
kaggle insort datasets https://www.kaggle.com/datasets/shashichander009/inshorts-news-data?resource=download

## 2- 数据集加载

In [7]:
news = pd.read_excel("Inshorts Cleaned Data.xlsx")
news.head(2)

,Headline,Short,Source,Time,Publish Date
0,4 ex-bank officials booked for cheating bank o...,The CBI on Saturday booked four former officia...,The New Indian Express,09:25:00,2017-03-26
1,Supreme Court to go paperless in 6 months: CJI,Chief Justice JS Khehar has said the Supreme C...,Outlook,22:18:00,2017-03-25

In [8]:
# 只用到Headline[摘要][长文本]
news.drop(['Source ', 'Time ', 'Publish Date'], axis=1, inplace=True)

In [9]:
news.head(2)

,Headline,Short
0,4 ex-bank officials booked for cheating bank o...,The CBI on Saturday booked four former officia...
1,Supreme Court to go paperless in 6 months: CJI,Chief Justice JS Khehar has said the Supreme C...

In [11]:
news.shape

(55104, 2)

In [14]:
document = news['Short']
summary = news['Headline']
document[30], summary[30]

('According to the Guinness World Records, the most generations alive in a single family have been seven.  The difference between the oldest and the youngest person in the family was about 109 years, when Augusta Bunge&#39;s great-great-great-great grandson was born on January 21, 1989. The family belonged to the United States of America.',
 'The most generations alive in a single family have been 7')

## 3- 数据预处理

### 3.1- summary 数据处理

In [17]:
# 在前后分别加一个标识符
# for decoder sequence
summary = summary.apply(lambda x: '<go> ' + x + ' <stop>')
summary[0]

'<go> <go> <go>4 ex-bank officials booked for cheating bank of ₹209 crore <stop> <stop> <stop>'

### 3.2- 编码处理

In [19]:
# 将文本进行编码
# since < and > from default tokens can not be removed

In [20]:
# 定义文本预处理 tf.keras.preprocessing.text.Tokenizer() 编码类 [用于后期文本编码处理]
document_tokenizer = tf.te